export SOURCES="
  git@github.com:hash4di/plexus.git:bash_profile.d
  git@github.com:hash4di/osx_crond.git:shell_aliases.d
  git@github.com:hash4di/ruby_dev_shell_aliases.git:.
  git@github.com:hash4di/git_shell_aliases.git:.
  git@github.com:hash4di/github_shell_aliases.git:.
  git@github.com:hash4di/osx_shell_aliases.git:.
  git@github.com:hash4di/common_shell_aliases.git:.
  git@github.com:hash4di/media_shell_aliases.git:.
  git@github.com:hash4di/poe_shell_aliases.git:.
  git@github.com:hash4di/torrent_shell_aliases.git:.
  git@github.com:hash4di/gentoo_package_masking.git:shell_aliases.d
  git@github.com:hash4di/ubercommit.git:shell_aliases.d
  $HOME/projects/local_shell_aliases
  $HOME/projects/shell_aliases_compiler/shell_aliases.d
  $HOME/.toptoolkit.sh
  git@github.com:toptal/toptoolkit.git
"

export PRE_SETUP_TRIGGERS="
  $HOME/projects/toptoolkit/setup.sh
"
